cryptography==36.0.1
fastapi==0.71.0
filprofiler==2021.12.2
memory-profiler==0.60.0
mysql-connector-python==8.0.27
peewee==3.14.8
peewee-migrations==0.3.22
prometheus-client==0.12.0
prometheus-fastapi-instrumentator==5.7.1
py-spy==0.3.11
PyMySQL==1.0.2
uvicorn==0.16.0
